p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.button {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 10px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  overflow: visible;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  box-shadow: inset 0px 1px 0px 0px #ffffff;
}
.dataPicker {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.dataPicker .react-datepicker-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  width: 10% !important;
  margin: 5px 10px;
}
.react-datepicker {
  background: #44c8f9 !important;
}

.react-datepicker__day,
.react-datepicker__header,
.react-datepicker__time-name,
.react-datepicker__current-month,
.react-datepicker__day-name {
  background: #44c8f9 !important;
  color: #ffffff !important;
}
.react-datepicker__day-names,
.react-datepicker__day-name {
  background: #30a3cd !important;
  color: #ffffff !important;
}
.react-datepicker__input-container {
  border: 1px solid #aec9de;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  background: #fcfcff;
  cursor: pointer;
  text-align: center;
  font-size: 0;
  transition: all 300ms ease;
  width: 170px !important;
  border: 1px solid #44c8f9 !important;
  color: #44c8f9;
  /*background: rgba(68, 200, 249, 0.15) !important;*/
  font-size: 12px !important;
}
.react-datepicker__input-container input {
  background: transparent;
  margin-top: 10px;
  text-align: center;
}

.alert {
  padding: 15px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert.alert-error {
  display: block;
  width: 248px;
  margin: 0 auto;
  background-color: #d9534f;
  color: white;
  margin-bottom: 10px;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
