nav {
  margin-bottom: 20px;
  text-transform: uppercase;
}
ul#menu {
  margin: 0 auto;
  display: inline-block;
  padding-left: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul#menu li {
  font-size: 14px;
}

ul li {
  list-style: none;
  display: inline-block;
}
a {
  color: #0275d8;
  text-decoration: none;
}
ul#menu a {
  margin-right: 10px;
  margin-left: 10px;
}

a:focus,
a:hover {
  color: #014c8c;
  text-decoration: underline;
}
a:hover {
  outline: 0;
}

.lang-bar {
  position: absolute;
  display: inline-block;
}

.lang-bar li {
  font-size: 12px;
  margin: 3px 3px;
}
ul li {
  list-style: none;
  display: inline-block;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
